/* Pour ajouter de la marge entre les champs de filtrage. */
.maclasse-filtres mat-form-field {
    margin-right: 8px;
}

/***************************************
* Avertissement écran trop petit - DEBUT
***************************************/
div.maclasse-avertissementSiPetitEcran {
    display: none;
}

@media only screen and (max-width: 600px) {
    div.maclasse-avertissementSiPetitEcran {
        display: block;
        color: red;
    }
}

/*************************************
* Avertissement écran trop petit - FIN
*************************************/

/* Pour éliminer la scrollbar horizontale. */
div.maclasse-pleineLargeurSansBarre {
    width: 98%;
    margin-left: 1px;
    overflow: hidden;
}

/* Pour éliminer les doubles bordures */
table.maclasse-lsu {
    border-collapse: collapse;
}

table.maclasse-lsu td,
th {
    /* Pour aérer le tableau. */
    padding: 2px;
    /* Pour la grille. */
    border: solid 1px;
}

/* Rotation des entêtes du LSU */
th.maclasse-rotationLsu {
    white-space: nowrap;
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
}

/* Pour contenir la rotation des entêtes du LSU */
tr.maclasse-enteteLsu {
    height: 90px;
}

/* Div avec bordure et taille minimale. */
div.maclasse-parcoursDePeriodeDansLsu,
div.maclasse-commentaireDePeriodeDansLsu {
    border: solid 1px black;
    min-height: 120px;
}

/* Div avec bordure et taille minimale. */
div.maclasse-titreDeCommentaireOuParcoursDePeriodeDansLsu {
    border: solid 1px black;
    border-bottom: none;
    font-weight: bold;
}

/* Pour le LSU */
div.maclasse-titrelsu {
    text-align: center;
    background-color: #6f6f764F;
    // pour avoir les couleurs à l'impression
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
}

td.maclasse-colonneNote0 {
    background-color: #6f6f764F;
    // pour avoir les couleurs à l'impression
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
}

td.maclasse-colonneNote1 {
    background-color: #6f6f766F;
    // pour avoir les couleurs à l'impression
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
}

td.maclasse-colonneNote2 {
    background-color: #6f6f768F;
    // pour avoir les couleurs à l'impression
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
}

td.maclasse-colonneNote3 {
    background-color: #6f6f76AF;
    // pour avoir les couleurs à l'impression
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
}

td.maclasse-colonneNotea {
    background-color: #6f6f76CF;
    // pour avoir les couleurs à l'impression
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
}

td.maclasse-colonneNoten {
    background-color: #6f6f76FF;
    // pour avoir les couleurs à l'impression
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
}