@if (periodes.length>0 && eleves.length>0) {
<div class="maclasse-avertissementSiPetitEcran">
    Attention, sur un petit écran, cet onglet ne s'affiche que très mal. Un tel tableau de données doit être affiché sur un écran plus grand.
</div>
<fieldset class="maclasse-masquerEnModePrint maclasse-filtres">
    <legend>Paramètres d'affichage</legend>
    <mat-form-field>
        <mat-label>Mode d'affichage</mat-label>
        <mat-select placeholder="Mode d'affichage" [(ngModel)]="modeAffichage" (selectionChange)="afficherRaffraichirDonnees()">
            <mat-option value=1>Mode préparation</mat-option>
            <mat-option value=2>Mode évaluation</mat-option>
            <mat-option value=3>Mode complet</mat-option>
            <mat-option value=4>Mode bulletin/LSU</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        @if (modeAffichage=='1') {
        <mat-label>Période à préparer</mat-label>
        } @else if (modeAffichage=='2' || modeAffichage=='3') {
        <mat-label>Période à évaluer</mat-label>
        } @else if (modeAffichage=='4') {
        <mat-label>Période à éditer/imprimer</mat-label>
        }
        <mat-select placeholder="Période" [(ngModel)]="periodeSelectionnee" (selectionChange)="afficherRaffraichirDonnees()">
            @for (p of periodes ; track p.id) {
            <mat-option [value]="p">{{p.nom}}</mat-option>
            }
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Elève</mat-label>
        <mat-select placeholder="Eleve" [(ngModel)]="eleveSelectionne" (selectionChange)="afficherRaffraichirDonnees()">
            @for (e of eleves ; track e.id) {
            <mat-option [value]="e" [class.maclasse-texteBarre]="e.statut==='0'">{{e.prenom}}</mat-option>
            }
        </mat-select>
    </mat-form-field>
    @if (modeAffichage!='4') {
    <mat-form-field>
        <mat-label>Groupement par</mat-label>
        <mat-select placeholder="Groupement par" [(ngModel)]="groupementPar" (selectionChange)="afficherRaffraichirDonnees()">
            <mat-option value=1>domaine de compétences</mat-option>
            <mat-option value=2>projet</mat-option>
        </mat-select>
    </mat-form-field>
    }
</fieldset>
}

@if (lignes && eleveSelectionne && periodeSelectionnee) {
@if (modeAffichage!='4') {
<fieldset class="maclasse-formulaire maclasse-couperEnModePrint" (keyup)="onKeyUp($event)">
    <legend>
        <span>Tableau de bord de l'élève {{eleveSelectionne.prenom}} </span>
        @if (modeAffichage=='1') {
        <span>pour préparer la période {{periodes.indexOf(periodeSelectionnee) + 1}}</span>
        } @else if (modeAffichage=='2' || modeAffichage=='3') {
        <span>pour évaluer la période {{periodes.indexOf(periodeSelectionnee) + 1}}</span>
        }
        @if (modeAffichage=='3') {
        <span> et préparer la période suivante</span>
        }
        <button type="button" mat-icon-button class="maclasse-bouton16" matTooltip="Ajouter une compétence" aria-label="Ajouter une compétence"
            (click)="ajouterUneLigneManuelle()">
            <fa-icon icon="plus"></fa-icon>
        </button>
    </legend>
    <div>

        <fieldset class="maclasse-formulaire">
            <legend>Appréciation générale sur la progression de l'élève</legend>
            <div>
                @if (commentaireDeLaPeriode) {
                <angular-editor [config]="configurationWysiwyg" placeholder="Appréciation générale sur la progression de l'élève" name="commentaire"
                    [(ngModel)]="commentaireDeLaPeriode.commentaire"></angular-editor>
                }
            </div>
        </fieldset>

        <fieldset class="maclasse-formulaire">
            <legend>Parcours éducatifs : Projet(s) mis en oeuvre dans l'année</legend>
            <div>
                @if (parcoursDeLaPeriode) {
                <angular-editor [config]="configurationWysiwyg" placeholder="Parcours éducatifs : Projet(s) mis en oeuvre dans l'année" name="commentaire"
                    [(ngModel)]="parcoursDeLaPeriode.commentaire"></angular-editor>
                }
            </div>
        </fieldset>

        @for (ligne of lignes ; track ligne.id ; let idx = $index) {
        <fieldset class="maclasse-formulaire">
            <legend>
                <span>{{ligne.libelleCompetenceParenteOuNomProjet}}</span>
                @if (indexEnEdition==idx) {
                <button type="button" mat-icon-button class="maclasse-bouton16" (click)="indexEnEdition=undefined" matTooltip="Terminer la saisie"
                    aria-label="Terminer la saisie">
                    <fa-icon icon="check"></fa-icon>
                </button>
                }@else {
                <button type="button" mat-icon-button class="maclasse-bouton16" (click)="indexEnEdition=idx" matTooltip="Editer cette ligne"
                    aria-label="Editer cette ligne">
                    <fa-icon icon="pencil" size="xs"></fa-icon>
                </button>
                }
            </legend>
            <div class="maclasse-table">
                <div class="maclasse-table-ligne maclasse-table-entete">
                    <div class="maclasse-table-case maclasse-afficherFlex maclasse-table-case-bordureDroite"
                        [class.maclasse-table-case-w70]="modeAffichage=='1'" [class.maclasse-table-case-w40]="modeAffichage=='2'"
                        [class.maclasse-table-case-w25]="modeAffichage=='3'"></div>
                    @if (modeAffichage!='1') {
                    <div class="maclasse-table-case maclasse-afficherFlex maclasse-table-case-w60 maclasse-table-case-bordureDroite">
                        {{libellePeriodeEvaluee}}
                    </div>
                    }
                    @if (modeAffichage!='2' && periodes.indexOf(periodeSelectionnee) != periodes.length-1) {
                    <div class="maclasse-table-case" [class.maclasse-table-case-w30]="modeAffichage=='1'" [class.maclasse-table-case-w15]="modeAffichage!='1'">
                        {{libellePeriodePreparee}}
                    </div>
                    }
                </div>
                <div class="maclasse-table-ligne maclasse-table-entete">
                    <div class="maclasse-table-case maclasse-afficherFlex maclasse-table-case-bordureDroite"
                        [class.maclasse-table-case-w70]="modeAffichage=='1'" [class.maclasse-table-case-w40]="modeAffichage=='2'"
                        [class.maclasse-table-case-w25]="modeAffichage=='3'">Compétence</div>
                    @if (modeAffichage != '1') {
                    <div class="maclasse-table-case maclasse-afficherFlex maclasse-table-case-w15">
                        Constats/outils de la période
                    </div>
                    <div class="maclasse-table-case maclasse-afficherFlex maclasse-table-case-w15">Aquisition</div>
                    <div class="maclasse-table-case maclasse-afficherFlex maclasse-table-case-w15">Commentaires publiés</div>
                    <div class="maclasse-table-case maclasse-afficherFlex maclasse-table-case-w15 maclasse-table-case-bordureDroite">Notes de travail</div>
                    }
                    @if (modeAffichage != '2' && periodes.indexOf(periodeSelectionnee) != periodes.length-1) {
                    <div class="maclasse-table-case" [class.maclasse-table-case-w30]="modeAffichage=='1'" [class.maclasse-table-case-w15]="modeAffichage!='1'">
                        Constats/outils</div>
                    }
                </div>
                @for (sousLigne of ligne.sousLignes ; track sousLigne.id ; let idy = $index) {
                <div class="maclasse-table-ligne">
                    <div class="maclasse-table-case" [class.maclasse-table-case-w70]="modeAffichage=='1'" [class.maclasse-table-case-w40]="modeAffichage=='2'"
                        [class.maclasse-table-case-w25]="modeAffichage=='3'">
                        <p>{{sousLigne.libelleCompetence}}</p>
                    </div>
                    @if (modeAffichage!='1') {
                    <div class="maclasse-table-case maclasse-afficherFlex maclasse-table-case-w15">
                        <p>{{sousLigne.notePeriodeEvaluee?.constatEnPreparation}}</p>
                    </div>
                    <div class="maclasse-table-case maclasse-afficherFlex maclasse-table-case-w15">
                        @if (indexEnEdition==idx) {
                        @if (sousLigne.notePeriodeEvaluee) {
                        <mat-form-field>
                            <mat-label>Aquisition</mat-label>
                            <mat-select placeholder="Aquisition" [(ngModel)]="sousLigne.notePeriodeEvaluee.valeurEvaluation">
                                @for (entree of mapLibelleNotes | keyvalue ; track entree.key) {
                                <mat-option [value]="entree.key">{{entree.value}}</mat-option>
                                }
                            </mat-select>
                        </mat-form-field>
                        } @else {
                        <button type="button" mat-icon-button class="maclasse-bouton16" matTooltip="Ajouter une note pour cette période et cette compétence"
                            aria-label="Ajouter une note pour cette période et cette compétence" (click)="ajouterUneNotePourEvaluation(sousLigne)">
                            <fa-icon icon="plus"></fa-icon>
                        </button>
                        }
                        } @else {
                        <p>{{(sousLigne.notePeriodeEvaluee &&
                            sousLigne.notePeriodeEvaluee.valeurEvaluation)?mapLibelleNotes[sousLigne.notePeriodeEvaluee.valeurEvaluation]:''}}</p>
                        }
                        @if (sousLigne.referencesProjetPeriodeEvaluee.length > 0) {
                        &nbsp;
                        <span class="maclasse-enUneLigne maclasse-masquerEnModePrint">
                            (<span>{{sousLigne.referencesProjetPeriodeEvaluee.length}}</span>
                            <fa-icon icon="paperclip" matTooltip="Compétence ajoutée via un ou plusieurs projets"></fa-icon>)
                        </span>
                        }
                        @if (sousLigne.notePeriodeEvaluee?.idsProjets?.includes('ajoutManuel')) {
                        <div class="maclasse-masquerEnModePrint">
                            &nbsp;
                            <fa-icon icon="hand" matTooltip="Compétence ajoutée manuellement"></fa-icon>
                        </div>
                        }
                        @if (indexEnEdition==idx) {
                        &nbsp;
                        <button type="button" mat-icon-button class="maclasse-bouton16" matTooltip="Supprimer la note" aria-label="Supprimer la note"
                            (click)="supprimerUneNote(sousLigne, true)">
                            <fa-icon icon="trash"></fa-icon>
                        </button>
                        }
                    </div>
                    <div class="maclasse-table-case maclasse-afficherFlex maclasse-table-case-w15">
                        @if (indexEnEdition==idx && sousLigne.notePeriodeEvaluee) {
                        <mat-form-field class="maclasse-pleinelargeur">
                            <mat-label>Commentaire publié</mat-label>
                            <textarea type="text" placeholder="Mot clef" matInput
                                [(ngModel)]="sousLigne.notePeriodeEvaluee.commentaireEvaluationPublic"></textarea>
                        </mat-form-field>
                        }@else {
                        <p>{{sousLigne.notePeriodeEvaluee?.commentaireEvaluationPublic}}</p>
                        }
                    </div>
                    <div class="maclasse-table-case maclasse-afficherFlex maclasse-table-case-w15">
                        @if (indexEnEdition==idx && sousLigne.notePeriodeEvaluee) {
                        <mat-form-field class="maclasse-pleinelargeur">
                            <mat-label>Notes de travail</mat-label>
                            <textarea type="text" placeholder="Mot clef" matInput
                                [(ngModel)]="sousLigne.notePeriodeEvaluee.commentaireEvaluationPrive"></textarea>
                        </mat-form-field>
                        }@else {
                        <p>{{sousLigne.notePeriodeEvaluee?.commentaireEvaluationPrive}}</p>
                        }
                    </div>
                    }
                    @if (modeAffichage != '2' && periodes.indexOf(periodeSelectionnee) != periodes.length-1) {
                    <div class="maclasse-table-case" [class.maclasse-table-case-w30]="modeAffichage=='1'" [class.maclasse-table-case-w15]="modeAffichage!='1'">
                        @if (indexEnEdition==idx) {
                        @if (sousLigne.notePeriodePreparee) {
                        <mat-form-field class="maclasse-pleinelargeur">
                            <mat-label>Notes de travail</mat-label>
                            <textarea type="text" placeholder="Mot clef" matInput [(ngModel)]="sousLigne.notePeriodePreparee.constatEnPreparation"></textarea>
                        </mat-form-field>
                        } @else {
                        <button type="button" mat-icon-button class="maclasse-bouton16" matTooltip="Ajouter une note pour cette période et cette compétence"
                            aria-label="Ajouter une note pour cette période et cette compétence" (click)="ajouterUneNotePourPreparation(sousLigne)">
                            <fa-icon icon="plus"></fa-icon>
                        </button>
                        }
                        } @else {
                        <p>{{sousLigne.notePeriodePreparee?.constatEnPreparation}}</p>
                        }
                        @if (sousLigne.referencesProjetPeriodePreparee.length > 0) {
                        <div class="maclasse-masquerEnModePrint">
                            &nbsp;
                            (<span>{{sousLigne.referencesProjetPeriodePreparee.length}}</span>
                            <fa-icon icon="paperclip" matTooltip="Compétence ajoutée via un ou plusieurs projets"></fa-icon>)
                        </div>
                        }
                        @if (sousLigne.notePeriodePreparee?.idsProjets?.includes('ajoutManuel')) {
                        <div class="maclasse-masquerEnModePrint">
                            &nbsp;
                            <fa-icon icon="hand" matTooltip="Compétence ajoutée manuellement"></fa-icon>
                        </div>
                        @if (indexEnEdition==idx) {
                        <button type="button" mat-icon-button class="maclasse-bouton16" matTooltip="Supprimer la note" aria-label="Supprimer la note"
                            (click)="supprimerUneNote(sousLigne, false)">
                            <fa-icon icon="trash"></fa-icon>
                        </button>
                        }
                        }
                    </div>
                    }
                </div>
                }
            </div>
        </fieldset>
        }
    </div>
</fieldset>
}

@else {
<div class="maclasse-titrelsu">
    <h3>
        Bilan des acquis scolaires de l'élève {{eleveSelectionne.prenom}} {{eleveSelectionne.nom}} né(e) le {{eleveSelectionne.dateNaissance |
        date:'dd/MM/yyyy'}}
        <br />
        Période {{periodes.indexOf(periodeSelectionnee) + 1}} - du {{periodeSelectionnee.debut | date:'dd/MM/yyyy'}} au {{periodeSelectionnee.fin
        | date:'dd/MM/yyyy'}}
    </h3>
</div>
<div class="maclasse-pleineLargeurSansBarre maclasse-couperEnModePrint">
    <table class="maclasse-lsu">
        <tr class="maclasse-enteteLsu">
            <th>Domaine</th>
            <th>Compétence</th>
            <th>Commentaire</th>
            @for (entree of mapLibelleNotes | keyvalue ; track entree.key) {
            <th [class]="'maclasse-rotationLsu maclasse-colonneNote' + entree.key">{{entree.value}}</th>
            }
        </tr>
        @for (ligne of lignes ; track ligne.id ; let idx = $index) {
        @for (sousLigne of ligne.sousLignes ; track sousLigne.id ; let idy = $index) {
        <tr>
            @if (idy==0) {
            <td [rowSpan]="ligne.sousLignes.length"><span>{{ligne.libelleCompetenceParenteOuNomProjet}}</span></td>
            }
            <td>{{sousLigne.libelleCompetence}}</td>
            <td>{{sousLigne.notePeriodeEvaluee?.commentaireEvaluationPublic}}</td>
            @for (entree of mapLibelleNotes | keyvalue ; track entree.key) {
            <td [class]="'maclasse-texteCentre maclasse-colonneNote' + entree.key">
                @if (entree.key == sousLigne.notePeriodeEvaluee?.valeurEvaluation) {
                <span>X</span>
                }
            </td>
            }
        </tr>
        }
        }
    </table>
    <br />
    <div class="maclasse-nePasCouperEnModePrint">
        <div class="maclasse-titreDeCommentaireOuParcoursDePeriodeDansLsu">Parcours éducatifs : Projet(s) mis en oeuvre dans l'année</div>
        <div class="maclasse-commentaireDePeriodeDansLsu" [innerHTML]="parcoursDeLaPeriode?.commentaire | html"> </div>
    </div>
    <br />
    <div class="maclasse-nePasCouperEnModePrint">
        <div class="maclasse-titreDeCommentaireOuParcoursDePeriodeDansLsu">Appréciation générale sur la progression de l'élève</div>
        <div class="maclasse-parcoursDePeriodeDansLsu">
            <span>Appréciation personnelle de l'enseignant(e) :</span>
            <br /><br />
            <div class="maclasse-afficherAgauche" [innerHTML]="commentaireDeLaPeriode?.commentaire | html"></div>
            <div class="maclasse-afficherAdroite">
                <span>Le ____/____/________</span>
                <br />
                <span>Signature de l'enseignant(e)</span>
            </div>
        </div>
    </div>
    <br />
    <div class="maclasse-nePasCouperEnModePrint">
        <div class="maclasse-titreDeCommentaireOuParcoursDePeriodeDansLsu">Communication avec les familles</div>
        <div class="maclasse-parcoursDePeriodeDansLsu">
            <span>Visa des parents ou du responsable légal :</span>
            <br /><br />
            <div class="maclasse-afficherAdroite">
                <span>Pris connaissance le : ____/____/________</span>
                <br />
                <span>Signatures</span>
            </div>
        </div>
    </div>
</div>
}
}