@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/* global */
body { background-color:lightgray; font:12px/18px Arial,sans-serif; }
textarea { font-family: Roboto,"Helvetica Neue",sans-serif; }
mat-form-field { width: 100%; }

/* formulaire */
.button {
	background: #d0e5f5 url("./assets/images/bouton-fond.png") 50% 50% repeat-x; 
	border: 1px solid #79b7e7; border-radius: 5px; 
	font-weight: bold; color: #1d5987; padding: 5px 20px; 
}
label { margin: 0px 10px 0px 20px; }
.mat-select { width: 300px; }
.mat-select-trigger { font-size: 13px; }
.mat-input-element { text-align: center; }
.mat-option { line-height: 30px; height: 30px; }
.mat-input-infix { padding: 0!important; }

.row.even, .form-row.even { background-color: #d7ebfa93 ; padding-bottom: 5px; }
.row.odd, .form-row.odd { background-color: #7d7d8608 ; padding-bottom: 5px; }
tr.even { background-color: #d7ebfa93 }
tr.odd { background-color: #7d7d8608 }
.row button, .form-row button { margin-top: 10px; }
.row.titre-row { font-size: 22px; margin-top: 10px; }
.col input { width: 100%; margin: 5px 0px; min-width: 150px; }
.col textarea { width: 100%; margin: 5px 0px; min-width: 150px; }
.col mat-select { width: 100%; margin: 5px 0px; min-width: 150px; min-height: 25px; }

/* validation */
.alert-danger {background-color: red; color: white; font-size: 15px; line-height: 25px; padding: 5px; margin-right: 10px; }
.mat-select.ng-dirty:not(.filtre) .mat-select-value { color: blue; }

/* Snackbar */
snack-bar-container.erreur { background-color: red; }
snack-bar-container.avertissement { background-color: orange; }

/* Petit boutons */
.fa { cursor: pointer; margin: 0px 5px 5px 0px; }

/** Multi style ! */
body {background-image: none; }
body #page { background-color:white; }
body #entete { background-image:url('./assets/images/entete-fond.png'); }
body #entete-titre { color: darkblue; }
body .mat-form-field-flex { background-color:white; }

.float-right { float: right; }