<!-- Boutons d'action -->
<div class="actions">
    <em class="fa fa-arrow-left fa-2x" matTooltip="Retour au tableau de bord" (click)="retour()"></em>
    <em class="fa fa-print fa-2x" matTooltip="Imprimer les données" (click)="imprimerLaPage()"></em>
</div>

<!-- Page à imprimer -->
<div class="edition">
    <div class="barre">
        <div class="entete" [innerHTML]="entete"></div>
        <div class="titre">
            <h1>{{titre}}</h1>
        </div>
        <div class="annee">
            <div>
                <span>{{anneeScolaire}}</span>
                <br />
                <span class="periode">{{nomPeriode}}</span>
            </div>
        </div>
    </div>

    <table>
        <thead>
            <tr>
                <th>Domaine</th>
                <th>Compétence</th>
                <th>Constat sur la période précédente</th>
                <th>Outil sur la période précédente</th>
            </tr>
        </thead>
        <!--Une ligne principale avec la première colonne et un rowspan-->
        <tbody *ngFor="let ligne of lignes; let odd = odd" [class.odd]="odd">
            <tr *ngFor="let ssLigne of ligne.sousLignes; let i = index">
                <td class="" *ngIf="i == 0" [attr.rowspan]="ligne.sousLignes.length">
                    <div class="competence">
                        <span *ngFor="let partie of ligne.nomDomaineCoupe; let j = index">
                            {{partie}}
                            <span *ngIf="j < ligne.nomDomaineCoupe.length-1">></span>
                        </span>
                    </div>
                </td>
                <td class="">{{ssLigne.competence?.text}}</td>
                <td class="" *ngIf="i == 0" [attr.rowspan]="ligne.sousLignes.length">{{ligne.constat}}</td>
                <td class="" *ngIf="i == 0" [attr.rowspan]="ligne.sousLignes.length">{{ligne.outil}}</td>
            </tr>
        </tbody>
    </table>
</div>