<!-- Boutons d'action -->
<div class="actions">
    <em class="fa fa-arrow-left fa-2x" matTooltip="Retour au journal" (click)="retour()"></em>
    <em class="fa fa-print fa-2x" matTooltip="Imprimer les données" (click)="imprimerLaPage()"></em>
</div>

<!-- Page à imprimer -->
<div class="edition">
    <div class="barre">
        <div class="titre">
            <h1>{{titre}} (semaine {{dateJournal | date:'ww'}})</h1>
        </div>
    </div>
    <div class="remarques" *ngIf="journal">
        <u>Remarques : </u>
        <span [innerHTML]="journal.remarque"></span>
    </div>
    <table class="tablesorter-blue">
        <thead>
            <tr>
                <th>Cadre</th>
                <th>Eleves</th>
                <th>Compétences</th>
                <th>Commentaire</th>
                <th>Notes manuscrites</th>
            </tr>
        </thead>
        <tbody *ngIf="journal">
            <tr *ngFor="let temp of journal.temps let odd = odd" [class.odd]="odd">
                <td class="cadre">{{temp.nom}}
                    <br />
                    <br />
                    <em>{{temp.type}}</em>
                    <br />
                    <br />De {{temp.debut}}
                    <br />A {{temp.fin}}
                    <br />
                </td>
                <td class="eleves">
                    <span class="nowrap" *ngFor="let idEleve of temp.eleves">{{getPrenomEleve(idEleve)}}
                        <br />
                    </span>
                </td>
                <td class="competences">
                    <span *ngFor="let comp of temp.competences">
                        {{getLibelleCompetence(comp)}}
                        <br />
                        <br />
                    </span>
                </td>
                <td class="commentaire" [innerHTML]="temp.commentaire"></td>
                <td class="cahierJournalZoneEcriture"></td>
            </tr>
        </tbody>
    </table>

</div>