span.note_a { }
span.note_n { }
span.note_0 { background-color: red!important; }
span.note_1 { background-color: orange!important; }
span.note_2 { background-color: yellow!important; }
span.note_3 { background-color: lightgreen!important; }