<!-- Sélection d'un élève -->
@if (eleves) {
<fieldset class="maclasse-masquerEnModePrint">
    <legend>Sélection d'un élève de la classe</legend>

    <mat-chip-listbox aria-label="Sélection d'un élève" [selectable]="true">
        @for (eleve of eleves; track eleve.id) {
        <mat-chip-option (click)="onSelectionEleve(eleve)" [selected]="eleve==eleveSelectionne">{{eleve.nom}} {{eleve.prenom}}</mat-chip-option>
        }
        <mat-chip-option selectable="false" (click)="ajouterUnEleve()">
            <button type="button" mat-icon-button matTooltip="Ajouter un élève" aria-label="Ajouter un élève"><fa-icon icon="plus"></fa-icon></button>
        </mat-chip-option>
    </mat-chip-listbox>
</fieldset>
}

@if (eleveSelectionne) {
<!-- Formulaire - données élève -->
<fieldset class="maclasse-formulaire" (keyup)="onKeyUp($event)">
    <legend>
        <span>Elève sélectionné : {{eleveSelectionne.nom}} {{eleveSelectionne.prenom}}</span>
        <button type="button" mat-icon-button class="maclasse-bouton16" (click)="supprimerEleveSelectionne()" matTooltip="Supprimer cet élève"
            aria-label="Supprimer cet élève">
            <fa-icon icon="trash"></fa-icon>
        </button>
        @if (modeEdition) {
        <button type="button" mat-icon-button class="maclasse-bouton16" (click)="modeEdition=false" matTooltip="Terminer la saisie"
            aria-label="Terminer la saisie">
            <fa-icon icon="check"></fa-icon>
        </button>
        } @else {
        <button type="button" mat-icon-button class="maclasse-bouton16" (click)="modeEdition=true" matTooltip="Editer cet élève" aria-label="Editer cet élève">
            <fa-icon icon="pencil" size="xs"></fa-icon>
        </button>
        }
    </legend>
    <div>
        @if (modeEdition) {
        <mat-form-field>
            <mat-label>Nom</mat-label>
            <input matInput type="text" required #inputNom="ngModel" name="nom" [(ngModel)]="eleveSelectionne.nom">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Prénom</mat-label>
            <input matInput type="text" required #inputPrenom="ngModel" name="prenom" [(ngModel)]="eleveSelectionne.prenom">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Date de naissance (dd/mm/yyyy)</mat-label>
            <input matInput [matDatepicker]="pickerDateNaissance" #inputDateNaissance="ngModel" [(ngModel)]="eleveSelectionne.dateNaissance" readonly>
            <mat-datepicker-toggle matIconSuffix [for]="pickerDateNaissance"></mat-datepicker-toggle>
            <mat-datepicker #pickerDateNaissance></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Date d'admission (dd/mm/yyyy)</mat-label>
            <input matInput [matDatepicker]="pickerDateAdmission" #inputDate="ngModel" [(ngModel)]="eleveSelectionne.dateAdmission" readonly>
            <mat-datepicker-toggle matIconSuffix [for]="pickerDateAdmission"></mat-datepicker-toggle>
            <mat-datepicker #pickerDateAdmission></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Statut</mat-label>
            <mat-select #inputStatutEleve="ngModel" [(ngModel)]="eleveSelectionne.statut" placeholder="Statut" name="statut">
                @for (entry of mapLibelleStatutEleve | keyvalue ; track entry) {
                <mat-option [value]="entry.key">{{entry.value}}</mat-option>
                }
            </mat-select>
        </mat-form-field>
        } @else {
        <div class="maclasse-grille">
            <div class="maclasse-grille-case maclasse-grille-case50"><label>Nom :</label> {{eleveSelectionne.nom}}</div>
            <div class="maclasse-grille-case maclasse-grille-case50"><label>Prénom :</label> {{eleveSelectionne.prenom}}</div>
            <div class="maclasse-grille-case maclasse-grille-case33"><label>Date de naissance :</label> {{eleveSelectionne.dateNaissance | date:'dd/MM/yyyy'}}
            </div>
            <div class="maclasse-grille-case maclasse-grille-case33"><label>Date d'admission :</label> {{eleveSelectionne.dateAdmission | date:'dd/MM/yyyy'}}
            </div>
            <div class="maclasse-grille-case maclasse-grille-case33"><label>Statut :</label>
                {{eleveSelectionne.statut?mapLibelleStatutEleve[eleveSelectionne.statut]:''}}</div>
        </div>
        }
    </div>
</fieldset>

<!-- Formulaire - contacts -->
<fieldset class="maclasse-formulaire" [class.maclasse-masquerEnModePrint]="!eleveSelectionne.contacts || eleveSelectionne.contacts.length===0"
    (keyup)="onKeyUp($event)">
    <legend>
        <span>Contacts</span>
        @if (modeEdition) {
        <button type="button" mat-icon-button (click)="ajouterUnContact()" matTooltip="Ajouter un contact" aria-label="Ajouter un contact">
            <fa-icon icon="plus"></fa-icon>
        </button>
        }
    </legend>
    <div>
        @for (contact of eleveSelectionne.contacts ; track contact.id ; let idx = $index) {
        <fieldset>
            <legend>
                <span>{{contact.nom}}</span>
                @if (modeEdition) {
                <button type="button" mat-icon-button class="maclasse-bouton16" (click)="supprimerContact(idx)" matTooltip="Supprimer ce contact"
                    aria-label="Supprimer ce contact">
                    <fa-icon icon="trash"></fa-icon>
                </button>
                }
            </legend>
            <div>
                @if (modeEdition) {
                <mat-form-field>
                    <mat-label>Type</mat-label>
                    <mat-select [(ngModel)]="contact.type" placeholder="Type" name="type">
                        @for (entry of mapTypeContact | keyvalue ; track entry) {
                        <mat-option [value]="entry.key">{{entry.value}}</mat-option>
                        }
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Nom</mat-label>
                    <input matInput name="nom" [(ngModel)]="contact.nom">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Email</mat-label>
                    <input matInput type="email" name="email" [(ngModel)]="contact.email">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Téléphone</mat-label>
                    <input matInput type="telephone" name="telephone" [(ngModel)]="contact.telephone">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Adresse postale</mat-label>
                    <input matInput type="adressePostale" name="adressePostale" [(ngModel)]="contact.adressePostale">
                </mat-form-field>
                } @else {
                <div class="maclasse-grille">
                    <div class="maclasse-grille-case maclasse-grille-case20"><label>Type :</label> {{contact.type?mapTypeContact[contact.type]:''}}</div>
                    <div class="maclasse-grille-case maclasse-grille-case50"><label>Nom :</label> {{contact.nom}}</div>
                    <div class="maclasse-grille-case maclasse-grille-case30"><label>Adresse postale :</label> {{contact.adressePostale}}</div>

                    <div class="maclasse-grille-case maclasse-grille-case20"><label>Téléphone :</label> {{contact.telephone}}</div>
                    <div class="maclasse-grille-case maclasse-grille-case70 maclasse-email"><label>Email :</label> {{contact.email}}</div>
                </div>
                }
            </div>
        </fieldset>
        }
    </div>
</fieldset>

<!-- Formulaire - dates de bilan -->
<fieldset class="maclasse-formulaire" (keyup)="onKeyUp($event)">
    <legend>Date de bilans (PPI et ESS)</legend>
    <div>
        @if (modeEdition) {
        <mat-form-field>
            <mat-label>Date PPA</mat-label>
            <textarea matInput [(ngModel)]="eleveSelectionne.datesPPA" name="datesPPA" placeholder="dates PPA" rows="6"></textarea>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Date ESS</mat-label>
            <textarea matInput [(ngModel)]="eleveSelectionne.datesESS" name="datesESS" placeholder="dates ESS" rows="6"></textarea>
        </mat-form-field>
        } @else {
        <div class="maclasse-grille">
            <div class="maclasse-grille-case maclasse-grille-case50"><label>Date PPA :</label> {{eleveSelectionne.datesPPA}}</div>
            <div class="maclasse-grille-case maclasse-grille-case50"><label>Date ESS :</label> {{eleveSelectionne.datesESS}}</div>
        </div>
        }
    </div>
</fieldset>

<!-- Formulaire - inclusions -->
<fieldset class="maclasse-formulaire" [class.maclasse-masquerEnModePrint]="!eleveSelectionne.inclusion" (keyup)="onKeyUp($event)">
    <legend>Inclusion mise en place</legend>
    <div>
        @if (modeEdition) {
        <mat-form-field>
            <mat-label>Nom de l'école</mat-label>
            <input matInput type="text" name="ecoleNom" [(ngModel)]="eleveSelectionne.inclusion.ecoleNom">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Adresse de l'école</mat-label>
            <input matInput type="text" name="ecoleAdresse" [(ngModel)]="eleveSelectionne.inclusion.ecoleAdresse">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Nom du contact</mat-label>
            <input matInput type="text" name="nomContact" [(ngModel)]="eleveSelectionne.inclusion.nomContact">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Email du contact</mat-label>
            <input matInput type="text" name="emailContact" [(ngModel)]="eleveSelectionne.inclusion.emailContact">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Téléphone du contact</mat-label>
            <input matInput type="text" name="telContact" [(ngModel)]="eleveSelectionne.inclusion.telContact">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Classe</mat-label>
            <input matInput type="text" name="niveau" [(ngModel)]="eleveSelectionne.inclusion.niveau">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Enseignant(s)</mat-label>
            <input matInput type="text" name="enseignant" [(ngModel)]="eleveSelectionne.inclusion.enseignant">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Téléphone Enseignant</mat-label>
            <input matInput type="text" name="telephoneEnseignant" [(ngModel)]="eleveSelectionne.inclusion.telephoneEnseignant">
        </mat-form-field>
        } @else {
        <div class="maclasse-grille">
            <div class="maclasse-grille-case maclasse-grille-case30"><label>Nom de l'école :</label> {{eleveSelectionne.inclusion.ecoleNom}}</div>
            <div class="maclasse-grille-case maclasse-grille-case70"><label>Adresse de l'école :</label> {{eleveSelectionne.inclusion.ecoleAdresse}}</div>

            <div class="maclasse-grille-case maclasse-grille-case30"><label>Nom du contact :</label> {{eleveSelectionne.inclusion.nomContact}}</div>
            <div class="maclasse-grille-case maclasse-grille-case40 maclasse-email"><label>Email du contact :</label>
                {{eleveSelectionne.inclusion.emailContact}}</div>
            <div class="maclasse-grille-case maclasse-grille-case30"><label>Téléphone du contact :</label> {{eleveSelectionne.inclusion.telContact}}</div>

            <div class="maclasse-grille-case maclasse-grille-case30"><label>Classe :</label> {{eleveSelectionne.inclusion.niveau}}</div>
            <div class="maclasse-grille-case maclasse-grille-case40"><label>Enseignant(s) :</label> {{eleveSelectionne.inclusion.enseignant}}</div>
            <div class="maclasse-grille-case maclasse-grille-case30"><label>Téléphone Enseignant :</label> {{eleveSelectionne.inclusion.telephoneEnseignant}}
            </div>
        </div>
        }
    </div>
</fieldset>

<!-- Formulaire - absences -->
<fieldset class="maclasse-formulaire" [class.maclasse-masquerEnModePrint]="!eleveSelectionne.absences || eleveSelectionne.absences.length===0"
    (keyup)="onKeyUp($event)">
    <legend>
        <span>Temps d'accompagnement et d'inclusion </span>
        @if (modeEdition) {
        <button type="button" mat-icon-button (click)="ajouterUneAbsence()" matTooltip="Ajouter une absence" aria-label="Ajouter une absence">
            <fa-icon icon="plus"></fa-icon>
        </button>
        }
    </legend>
    <div>
        @for (absence of eleveSelectionne.absences ; track absence.id ; let idx = $index) {
        <fieldset>
            <legend>
                <span>N°{{idx}}</span>
                @if (modeEdition) {
                <button type="button" mat-icon-button class="maclasse-bouton16" (click)="supprimerAbsence(idx)" matTooltip="Supprimer cette absence"
                    aria-label="Supprimer cette absence">
                    <fa-icon icon="trash"></fa-icon>
                </button>
                }
            </legend>
            @if (modeEdition) {
            <mat-form-field>
                <mat-label>Type</mat-label>
                <mat-select #inputStatut="ngModel" [(ngModel)]="absence.raison" placeholder="Type" name="raison">
                    @for (entry of mapRaisonAbsence | keyvalue ; track entry) {
                    <mat-option [value]="entry.key">{{entry.value}}</mat-option>
                    }
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Jour</mat-label>
                <mat-select #inputJour="ngModel" [(ngModel)]="absence.jour" placeholder="Jour" name="jour">
                    @for (entry of joursDeLaSemaine | keyvalue ; track entry) {
                    <mat-option [value]="entry.key">{{entry.value}}</mat-option>
                    }
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Fréquence</mat-label>
                <mat-select #inputFrequence="ngModel" [(ngModel)]="absence.frequence" placeholder="Fréquence" name="frequence">
                    @for (entry of mapFrequenceAbsence | keyvalue ; track entry) {
                    <mat-option [value]="entry.key">{{entry.value}}</mat-option>
                    }
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Début</mat-label>
                <mat-select #inputDebut="ngModel" [(ngModel)]="absence.heureDebut" name="debut">
                    @for (t of tempsDisponibles ; track t) {
                    <mat-option [value]="t">{{t}}</mat-option>
                    }
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Fin</mat-label>
                <mat-select #inputFin="ngModel" [(ngModel)]="absence.heureFin" name="fin">
                    @for (t of tempsDisponibles ; track t) {
                    <mat-option [value]="t">{{t}}</mat-option>
                    }
                </mat-select>
            </mat-form-field>
            } @else {
            <div class="maclasse-grille">
                <div class="maclasse-grille-case maclasse-grille-case20"><label>Type :</label> {{absence.raison?mapRaisonAbsence[absence.raison]:''}}</div>
                <div class="maclasse-grille-case maclasse-grille-case20"><label>Jour :</label> {{absence.jour?joursDeLaSemaine.get(absence.jour):''}}</div>
                <div class="maclasse-grille-case maclasse-grille-case20"><label>Fréquence :</label> {{obtenirLibelleFrequence(absence.frequence)}}</div>
                <div class="maclasse-grille-case maclasse-grille-case20"><label>Début :</label> {{absence.heureDebut}}</div>
                <div class="maclasse-grille-case maclasse-grille-case20"><label>Fin :</label> {{absence.heureFin}}</div>
            </div>
            }
        </fieldset>
        }
    </div>
</fieldset>

<!-- Formulaire - Cursus scolaire -->
<fieldset class="maclasse-formulaire" (keyup)="onKeyUp($event)">
    <legend>Cursus scolaire</legend>
    <div>
        <div class="maclasse-grille">
            <!-- Entête -->
            <div class="maclasse-grille-case maclasse-grille-case25 maclasse-grille-entete">Niveau</div>
            <div class="maclasse-grille-case maclasse-grille-case25 maclasse-grille-entete">Etablissement</div>
            <div class="maclasse-grille-case maclasse-grille-case25 maclasse-grille-entete">Accompagnement</div>
            <div class="maclasse-grille-case maclasse-grille-case25 maclasse-grille-entete">
                @if (modeEdition) {
                <button type="button" mat-icon-button (click)="ajouterCursus()" matTooltip="Ajouter une ligne dans le cursus"
                    aria-label="Ajouter une ligne dans le cursus">
                    <fa-icon icon="plus"></fa-icon>
                </button>
                }
            </div>

            <!-- Pour chaque lignes -->
            @for (cur of eleveSelectionne.cursus ; track cur.id ; let idx = $index) {
            <div class="maclasse-grille-case maclasse-grille-case25">
                @if (modeEdition) {
                <mat-form-field class="maclasse-pleinelargeur">
                    <mat-label>Niveau en 09/{{cur.annee}}</mat-label>
                    <input matInput name="niveau-{{idx}}" [(ngModel)]="cur.niveau">
                </mat-form-field>
                } @else {
                <label>Niveau en 09/{{cur.annee}} :</label> {{cur.niveau}}
                }
            </div>
            <div class="maclasse-grille-case maclasse-grille-case25">
                @if (modeEdition) {
                <mat-form-field class="maclasse-pleinelargeur">
                    <mat-label>Etablissement en 09/{{cur.annee}}</mat-label>
                    <input matInput name="etablissement-{{idx}}" [(ngModel)]="cur.etablissement">
                </mat-form-field>
                } @else {
                <label>Etablissement en 09/{{cur.annee}} :</label> {{cur.etablissement}}
                }
            </div>
            <div class="maclasse-grille-case maclasse-grille-case25">
                @if (modeEdition) {
                <mat-form-field class="maclasse-pleinelargeur">
                    <mat-label>Accompagnement en 09/{{cur.annee}}</mat-label>
                    <input matInput name="accompagnement-{{idx}}" [(ngModel)]="cur.accompagnement">
                </mat-form-field>
                } @else {
                <label>Accompagnement en 09/{{cur.annee}} :</label> {{cur.accompagnement}}
                }
            </div>
            <div class="maclasse-grille-case maclasse-grille-case25">
                @if (modeEdition) {
                <button type="button" mat-icon-button (click)="supprimerCursus(idx)" matTooltip="Supprimer cette ligne du cursus"
                    aria-label="Supprimer cette ligne du cursus">
                    <fa-icon icon="trash"></fa-icon>
                </button>
                }
            </div>
            }
        </div>
    </div>
</fieldset>

<!-- Formulaire - Bilans -->
<fieldset class="maclasse-formulaire" (keyup)="onKeyUp($event)">
    <legend>Bilans</legend>
    <div>
        @if (modeEdition) {
        <angular-editor [config]="configurationWysiwyg" placeholder="Bilans de cet élève" name="bilans" [(ngModel)]="eleveSelectionne.bilans"></angular-editor>
        } @else {
        <div [innerHTML]="eleveSelectionne.bilans | html"></div>
        }
    </div>
</fieldset>
}

<br />