// Pour écarter les champs de saisie les uns des autres
mat-form-field {
    margin-right: 10px;
}

/*******************************
* GRILLE sans colonne - DEBUT
*******************************/
div.maclasse-grille {
    display: flex;
    flex-wrap: wrap;
}

div.maclasse-grille-case20 {
    width: calc(20%)
}

div.maclasse-grille-case25 {
    width: calc(25%)
}

div.maclasse-grille-case30 {
    width: calc(30%)
}

div.maclasse-grille-case33 {
    width: calc(33%)
}

div.maclasse-grille-case40 {
    width: calc(40%)
}

div.maclasse-grille-case50 {
    width: calc(50%)
}

div.maclasse-grille-case60 {
    width: calc(60%)
}

div.maclasse-grille-case70 {
    width: calc(70%)
}

/*******************************
* GRILLE sans colonne - FIN
*******************************/

/* Pour souligner les libellés en mode affichage. */
label {
    text-decoration: underline;
}

/* Pour un petit coté responsive. */
@media only screen and (max-width: 600px) {
    .maclasse-grille-case {
        width: 100% !important;
    }
}