<!-- Actions -->
<div class="actions">
	<em class="fa fa-plus ajoutProjet" matTooltip="Ajouter un nouveau projet" (click)="creerProjet()"></em>
</div>

<!-- Liste des projets -->
<mat-chip-list class="listeProjets" [selectable]="true">
	<mat-chip *ngFor="let p of projets" (click)="onSelectProjet(p); projetForm.reset(p);"
		[class.projetSelectionne]="p === projet">{{p.nom}}</mat-chip>
</mat-chip-list>

<!-- Formulaire de modification -->
<form novalidate #projetForm="ngForm">
	<div *ngIf="projet" class="formulaireProjet container-fluid">

		<div class="row odd titre-row">Détails</div>
		<div class="row odd">
			<div *ngIf="!inputNom.pristine && inputNom.errors?.required" class="alert-danger">Le nom est obligatoire
			</div>
			<div *ngIf="!inputNom.pristine && inputNom.errors?.minlength" class="alert-danger">Le nom doit faire 3
				caractères au minimum</div>
			<mat-form-field appearance="fill">
				<mat-label>Nom</mat-label>
				<input required minlength="3" #inputNom="ngModel" matInput name="nom" [(ngModel)]="projet.nom"
					[ngModelOptions]="{standalone:true}">
			</mat-form-field>
		</div>

		<div class="row even titre-row">
			<div class="col">
				<span>Détails </span>

				<div class="float-right">
					<em (click)="ajouterCompetence()" matTooltip="Ajouter une compétence"
						class="fa fa-plus ajoutCompetence"></em>
				</div>
			</div>
		</div>
		<div class="row even">
			<div *ngFor="let idCompetence of projet.idCompetences; let i = index" class="ligneCompetence">
				<em (click)="retirerCompetence(i)" matTooltip="Supprimer la compétence" class="fa fa-remove"></em>
				<compo-competence [projet]="projet" [projetIndexCompetence]="i"></compo-competence>
				<br />
			</div>
		</div>

	</div>
</form>