input { width: 100%; }
div.actions { text-align: right; }
mat-chip.projetSelectionne { color: white; background-color: #6b6159; font-weight: bold; }
compo-competence { display: inline-block; }
.ligneCompetence { display: inherit; }