<div id="page" class="container-fluid">
	<mat-sidenav-container>
		<div id="entete" class="row">
			<div id="entete-logo" class="col-2">
				<img src="./assets/images/logo.png" alt="logo" (click)="rechargerPage()" />
			</div>
			<div id="entete-titre" class="col-10">
				<span class="d-none d-sm-block centrerVerticalement">Visualisation des compétences des cycles 3, 4 et
					5</span>
				<span class="soustitre">(mise à jour le xx/xx/xx depuis le <a href="" target="blank">BO</a>)</span>
			</div>
		</div>
	</mat-sidenav-container>

	<div id="menu">
		<nav mat-tab-nav-bar>
			<a mat-tab-link routerLink="/tab-competence-route" class="navCompetence"
				routerLinkActive="active">Compétences</a>
		</nav>
	</div>

	<div id="contenu">
		<router-outlet></router-outlet>
	</div>
</div>