/* Pour ne pas avoir d'espace avant le UL. */
ul {
    margin-block-start: 0px;
}

/* Affichage de la liste des élèves - DEBUT */
div.maclasse-listeEleves {
    display: flex;
    flex-direction: row;
}

div.maclasse-listeEleves>div {
    padding: 5px 10px;
    margin: 0px 5px 5px 5px;
    border: solid 1px;
    border-radius: var(--mdc-chip-container-shape-radius);
}

/* Affichage de la liste des élèves - FIN */

/* Mise en avant d'un élève sélectionné. */
div.maclasse-eleveSelectionne {
    background-color: var(--mdc-chip-elevated-selected-container-color, var(--mat-app-secondary-container));
}