<h2 class="maclasse-h2">Bonjour et bienvenu dans l'application de gestion de votre classe.</h2>

<p>Si vous accédez à cette application pour la première fois, voici quelques informations utiles : </p>

<ul>
    <li>L'aide est disponible, à tout moment, en cliquant sur le bouton <fa-icon icon="question-circle"
            matTooltip="exemple" mat-button></fa-icon> présent en haut à droite de cet écran.</li>
    <li>Quand aucune donnée de classe n'est chargée, est disponible un onglet <b>Créer mon année</b>.</li>
    <li>Si vous avez déjà créé une année et que vous souhaitez charger les données précédemment renseignées, utiliser
        l'onglet <b>Charger mon année</b> pour reprendre votre travail.</li>
</ul>

<p>Si vous souhaitez utiliser cette application sans connexion Internet, c'est possible. Pour cela :</p>
<ul>
    <li>Télécharger l'archive <a href="/outilsDeClasse/serveurLocal.tar.gz">serveurLocal.tar.gz</a> sur votre ordinateur
    </li>
    <li>Ouvrir l'archive <i>serverLocal.tar.gz</i></li>
    <li>Ce n'est pas un simple <i>ZIP</i> mais un <i>TARGZ</i>. Donc il faut encore entrer dans
        <i>serverLocal.tar</i>
    </li>
    <li>Entrer dans le répertoire <i>'.'</i> puis le répertoire <i>zip</i></li>
    <li>Extraire le contenu affiché dans un répertoire de votre choix</li>
    <li>Double cliquer sur <i>demarrerServeurLocal.cmd</i></li>
    <li>L'application est maintenant disponible à l'adresse <a
            href="http://localhost:8000/outilsDeClasse">http://localhost:8000/outilsDeClasse</a></li>
</ul>