<h2 class="maclasse-h2">Bonjour et bienvenu dans l'application de gestion de votre classe.</h2>

<p>Si vous accédez à cette application pour la première fois, voici <b>quelques informations utiles</b> : </p>
<ul>
    <li>L'aide est disponible, à tout moment, en cliquant sur le bouton <fa-icon icon="question-circle" matTooltip="exemple" mat-button></fa-icon> présent en
        haut à droite de cet écran.</li>
    <li>Quand aucune donnée de classe n'est chargée, sont disponibles les onglets <i>Accueil</i>, <i>Charger mon année</i> et <i>Créer mon année</i>.</li>
    <li>Si vous avez déjà créé une année et que vous souhaitez charger les données précédemment renseignées, utiliser
        l'onglet <i>Charger mon année</i> pour reprendre votre travail.</li>
</ul>

<p>Si vous souhaitez <b>utiliser cette application sans connexion Internet</b>, c'est possible. Pour cela, vous avez deux options :</p>
<ul>
    <li>1/ Demande à votre navigateur de télécharger l'application
        <ul>
            <li>Cliquer sur le bouton "Installer outil de classe" affiché tout à droite dans votre barre d'adresse.</li>
            <li>Un raccourci est alors créé sur votre bureau</li>
            <li>Avantage : l'application se met à jour régulièrement</li>
        </ul>
    </li>
    <li>2/ Télécharger, sur votre poste, le site et un petit serveur WEB :
        <ul>
            <li>Télécharger l'archive <a href="/outilsDeClasse/outils-de-classe_1.0.0.versionLocale.zip">outils-de-classe_1.0.0.versionLocale.zip</a>
                sur votre ordinateur</li>
            <li>Ouvrir l'archive <i>outils-de-classe_1.0.0.versionLocale.zip</i></li>
            <li>Extraire le contenu dans un répertoire de votre choix</li>
            <li>Double cliquer sur <i>demarrerServeurLocal.cmd</i></li>
            <li>L'application est maintenant disponible à l'adresse <a href="http://localhost:8000/outilsDeClasse">http://localhost:8000/outilsDeClasse</a></li>
        </ul>
    </li>
</ul>

@if (unJeuDeDonneesDeDemonstrationEstCharge) {
<p>Si vous télécharger les données de l'application de démonstration, sachez que le mot de passe par défaut est <b><i>démonstration</i></b>.</p>
}