<div class="compoCompetence">
    {{libelleCompletCompetenceSelectionnee}}

    <div *ngIf="!lectureSeule" class="actions">
        <em *ngIf="!lectureSeule" class="retour fa fa-fast-backward" (click)="selectionnerParent()"></em>
        <em *ngIf="!lectureSeule && profondeurMaximaleAutorisee == 99" class="retour fa fa-dot-circle-o" (click)="afficherPopupFiltre()"></em>
        <div *ngIf="!!idCompetence">
            <select required #inputStatut="ngModel" [(ngModel)]="idCompetence" name="competence" *ngIf="!!listeCompetenceEnfant && listeCompetenceEnfant.length>0">
                <option [value]="idCompetence"></option>
                <option *ngFor="let competence of listeCompetenceEnfant" [value]="competence.id">{{competence.text}}</option>
            </select>
        </div>
    </div>
</div>