@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/* global */
body { background-color:lightgray; font:12px/18px Arial,sans-serif; }
textarea { font-family: Roboto,"Helvetica Neue",sans-serif; }
.rappelSauvegarde { color: red; }
.sauvegardeDejaFaite { color: green; }
mat-form-field { width: 100%; }

/* formulaire */
.button {
	background: #d0e5f5 url("./assets/images/bouton-fond.png") 50% 50% repeat-x; 
	border: 1px solid #79b7e7; border-radius: 5px; 
	font-weight: bold; color: #1d5987; padding: 5px 20px; 
}
label { margin: 0px 10px 0px 20px; }
.mat-select { width: 300px; }
.mat-select-trigger { font-size: 13px; }
.mat-input-element { text-align: center; }
.mat-option { line-height: 30px; height: 30px; }
.mat-input-infix { padding: 0!important; }

/* Dialog */
.mat-dialog-container { padding: 0px 24px 24px 24px!important; max-height: 99vh!important; }
.mat-dialog-container h2 { margin: 10px 0px; font-size: 1.5em; }

/* grille */
.mat-card-header .mat-card-title { font-size: 12px; }
.mat-card-header-text { width: 100%!important; }
.mat-grid-tile .mat-figure { align-items: start!important; }

/* tableaux de l'application */
table { width: 100%; }
th { height: 35px; font-size: 14; background-color: #CFD8DC; background-image: linear-gradient(to bottom,#f5f5f5,#CFD8DC) }
td { font-size: 12; padding: 5px 0px; }

/** Refonte des fieldset avec bootstrap */
/*
<div class="container-fluid">
  <div class="row odd titre-row"></div>
	<div class="row odd">
	</div>
</div>
*/
.row.even, .form-row.even { background-color: #d7ebfa93 ; padding-bottom: 5px; }
.row.odd, .form-row.odd { background-color: #7d7d8608 ; padding-bottom: 5px; }
tr.even { background-color: #d7ebfa93 }
tr.odd { background-color: #7d7d8608 }
.row button, .form-row button { margin-top: 10px; }
.row.titre-row { font-size: 22px; margin-top: 10px; }
.col input { width: 100%; margin: 5px 0px; min-width: 150px; }
.col textarea { width: 100%; margin: 5px 0px; min-width: 150px; }
.col mat-select { width: 100%; margin: 5px 0px; min-width: 150px; min-height: 25px; }

/* validation */
.alert-danger {background-color: red; color: white; font-size: 15px; line-height: 25px; padding: 5px; margin-right: 10px; }
.mat-select.ng-dirty:not(.filtre) .mat-select-value { color: blue; }

/* Snackbar */
snack-bar-container.erreur { background-color: red; }
snack-bar-container.avertissement { background-color: orange; }

/* Ck Editor */
.cke_top { background-color: #CFD8DC; background-image: linear-gradient(to bottom,#f5f5f5,#CFD8DC) }
.cke_botton { padding: 0px 8px 0px; }

/* Chips */
.mat-chip.mat-accent { font-size: 14px!important; font-weight: bolder; background-color: red; }
.mat-chip-list-stacked .mat-chip-list-wrapper .mat-chip:not(.mat-basic-chip) { font-size: 10px; }
.mat-chip.mat-primary { background-color: #E2DBD5; }

/* Petit boutons */
.fa { cursor: pointer; margin: 0px 5px 5px 0px; }

/** Multi style ! */
body.sobre {background-image: none; }
body.sobre #page { background-color:white; }
body.sobre #entete { background-image:url('./assets/images/entete-fond.png'); }
body.sobre #entete-titre { color: darkblue; }
body.sobre .mat-form-field-flex { background-color:white; }

body.dynamique { background-image: url('./assets/images/fond.jpg'); }
body.dynamique #contenu { opacity: 0.95; background-color: white; }
body.dynamique #entete-actions .fa { color: white; }

body.dynamique .rappelSauvegarde { color: red!important; }
body.dynamique .sauvegardeDejaFaite { color: green!important; }

body.dynamique nav a:not(.active) { color:black!important; }
body.dynamique a.navCompetence { background-color: green!important; }
body.dynamique a.navEleve { background-color: yellow!important; }
body.dynamique a.navEleve.active { color: black!important; }
body.dynamique a.navTdb { background-color: orange!important; }
body.dynamique a.navJournal { background-color: red!important; }
body.dynamique a.navProjet { background-color: rgb(235, 44, 171)!important; }
body.dynamique a.navTaches { background-color: #ba12a3!important; }
body.dynamique a.active { opacity: 1!important; }

body.dynamique .listeEleves mat-chip.filtreSelectionne { border: solid 10px white!important; }
body.dynamique .listeEleves mat-chip:nth-child(1) { background-color: green!important; }
body.dynamique .listeEleves mat-chip:nth-child(2) { background-color: #F0B750!important; }
body.dynamique .listeEleves mat-chip:nth-child(3) { background-color: #ED840A!important; }
body.dynamique .listeEleves mat-chip:nth-child(4) { background-color: red!important; }
body.dynamique .listeEleves mat-chip:nth-child(5) { background-color: #DB6479!important; }
body.dynamique .listeEleves mat-chip:nth-child(6) { background-color: #C6217C!important; }
body.dynamique .listeEleves mat-chip:nth-child(7) { background-color: #A220C6!important; }
body.dynamique .listeEleves mat-chip:nth-child(8) { background-color: #7220C6!important; }
body.dynamique .listeEleves mat-chip:nth-child(9) { background-color: #3D16D1!important; }

body.dynamique .listePeriodes mat-chip.filtreSelectionne { border: solid 10px white!important; }
body.dynamique .listePeriodes mat-chip:nth-child(1) { background-color: #88E80F!important; }
body.dynamique .listePeriodes mat-chip:nth-child(2) { background-color: #FFA400!important; }
body.dynamique .listePeriodes mat-chip:nth-child(3) { background-color: #F85F05!important; }
body.dynamique .listePeriodes mat-chip:nth-child(4) { background-color: #FF0000!important; }
body.dynamique .listePeriodes mat-chip:nth-child(5) { background-color: #DF0F82!important; }

body.dynamique .cahierJournal .mat-accent { background-color: red; }

body.dynamique .row.even,body.dynamique .form-row.even { background-color: #fd3d3c63!important; }
body.dynamique .row.odd,body.dynamique .form-row.odd { background-color: #7cb42b61!important; }

body.dynamique tr.even { background-color: #fd3d3c63!important }
body.dynamique tr.odd { background-color: #7cb42b61!important }

.float-right { float: right; }