<div id="page" class="container-fluid">
	<mat-sidenav-container>
		<mat-sidenav #sidenav class="example-sidenav">
			<div-selecteurstyle></div-selecteurstyle>
		</mat-sidenav>
		<div id="entete" class="row">
			<div id="entete-logo" class="col-2">
				<img src="./assets/images/logo.png" alt="logo" (click)="rechargerPage()" />
			</div>
			<div id="entete-titre" class="col-7">
				<span class="d-none d-sm-block">Application de gestion de ma classe</span>
			</div>
			<div id="entete-actions" class="col-3">
				<em *ngIf="!anneeChargee" class="fa fa-vcard-o" matTooltip="Créer un nouveau fichier de données"
					mat-button routerLink="/tab-nouvelleAnnee-route"></em>
				<em class="fa fa-question-circle" matTooltip="Afficher l'aide de l'application" mat-button
					routerLink="/tab-aide-route"></em>
				<em class="fa fa-thermometer-half" matTooltip="Changer le thème de l'application" mat-button
					(click)="sidenav.open()"></em>
				<br />
				<div-sauvegarde></div-sauvegarde>
			</div>
		</div>
	</mat-sidenav-container>

	<div id="menu">
		<nav mat-tab-nav-bar>
			<a *ngIf="!!anneeChargee" mat-tab-link routerLink="/tab-competence-route" class="navCompetence"
				routerLinkActive="active">Compétences</a>
			<a *ngIf="!!anneeChargee" mat-tab-link routerLink="/tab-eleve-route" class="navEleve"
				routerLinkActive="active">Elèves</a>
			<a *ngIf="!!anneeChargee" mat-tab-link routerLink="/tab-tableaudebord-route" class="navTdb"
				routerLinkActive="active">Tableau de bord</a>
			<a *ngIf="!!anneeChargee" mat-tab-link routerLink="/tab-journal-route" class="navJournal"
				routerLinkActive="active">Cahier journal</a>
			<a *ngIf="!!anneeChargee" mat-tab-link routerLink="/tab-projet-route" class="navProjet"
				routerLinkActive="active">Projets</a>
			<a *ngIf="!!anneeChargee" mat-tab-link routerLink="/tab-taches-route" class="navTaches"
				routerLinkActive="active">Tâches</a>
		</nav>
	</div>

	<div id="contenu" *ngIf="anneChargeeOuSansDonnees">
		<router-outlet></router-outlet>
	</div>
</div>