<h2 mat-dialog-title>Evaluation et préparation d'un domaine</h2>

<div class="container-fluid" *ngIf="ligne">
	<div *ngIf="!ligne.idDomaine" class="row even titre-row">Sélection du domaine :</div>
	<div *ngIf="!ligne.idDomaine" class="row even">
		<compo-competence [note]="premiereNote" [lectureSeule]="false" [profondeurMaximaleAutorisee]=4>
		</compo-competence>
		<br />
		<em class="fa fa-check fa-2x" matTooltip="Sélectionner ce domaine" (click)="validerDomaine()"></em>
	</div>

	<div *ngIf="!!ligne.idDomaine" class="row odd titre-row">Domaine :</div>
	<div *ngIf="!!ligne.idDomaine" class="row odd">
		{{ligne.nomDomaine}}
	</div>

	<div *ngIf="!!ligne.propositionPrecedente" class="row even titre-row">Proposition de la période précédente :</div>
	<div *ngIf="!!ligne.propositionPrecedente" class="row even">
		{{ligne.propositionPrecedente}}
	</div>

	<div *ngIf="!!ligne.idDomaine" class="row odd titre-row">Evaluations sur la période '{{ligne.periodeEvaluee.nom}}' :
	</div>
	<div *ngIf="!!ligne.idDomaine" class="row odd">
		<div class="col-6">
			<textarea [(ngModel)]="ligne.constat" name="constat" placeholder="Constat sur la période" rows="8"
				[disabled]="statutActivationSaisieConstat"></textarea>
		</div>
		<div class="col-6">
			<textarea [(ngModel)]="ligne.outil" name="outil" placeholder="Outil sur la période" rows="8"
				[disabled]="statutActivationSaisieConstat"></textarea>
		</div>
	</div>
	<div *ngIf="!!ligne.idDomaine" class="row odd">
		<table class="ligneTableauDeBord">
			<thead>
				<tr>
					<th>Elément du programme évalué</th>
					<th>Positionnement et objectif d'apprentissage</th>
					<th>
						<span>Acquisition, progrès et difficultés</span>
					</th>
					<th>
						<em class="fa fa-plus-circle" matTooltip="Ajouter une note dans la période précédente"
							(click)="ajouterLigneProgrammeEvalue()"></em>
					</th>
				</tr>
			</thead>
			<tbody *ngFor="let sousLigne of ligne.sousLignes; let i = index">
				<tr *ngIf="sousLigne.constatation">
					<td>
						<compo-competence [idCompetenceRacine]="ligne.idDomaine" [note]="sousLigne.constatation"
							[lectureSeule]="false"></compo-competence>
					</td>
					<td>
						<compo-note [note]="sousLigne.constatation" [lectureSeule]="false"></compo-note>
					</td>
					<td>
						<textarea [(ngModel)]="sousLigne.constatation.commentaire" name="commentaire" rows="2"
							cols="20"></textarea>
					</td>
					<td>
						<em class="fa fa-remove" matTooltip="Supprimer cette note"
							(click)="supprimerSousLigneProgrammeEvalue(sousLigne)"></em>
						<em class="fa fa-magic"
							matTooltip="Reporter la compétence dans les compétences à travailler à la prochaine période"
							(click)="reporteSousLigneDansPeriodePreparee(sousLigne)"></em>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div *ngIf="!!ligne.idDomaine" class="row even titre-row">Préparation pour la période suivante :</div>
	<div *ngIf="!!ligne.idDomaine" class="row even">
		<textarea [(ngModel)]="ligne.proposition" name="proposition" placeholder="Proposition de travail" rows="8"
			cols="80" [disabled]="statutActivationSaisieAide"></textarea>
		<br />
		<table class="ligneTableauDeBord" *ngIf="ligne">
			<thead>
				<tr>
					<th>Elément du programme à travailler</th>
					<th>
						<em class="fa fa-plus-circle" matTooltip="Ajouter une note pour la période suivante"
							(click)="ajouterLigneProgrammeTravaille()"></em>
					</th>
				</tr>
			</thead>
			<tbody *ngFor="let sousLigne of ligne.sousLignes; let i = index">
				<tr *ngIf="sousLigne.proposition ">
					<td>
						<compo-competence [idCompetenceRacine]="ligne.idDomaine" [note]="sousLigne.proposition"
							[lectureSeule]="false"></compo-competence>
					</td>
					<td>
						<em class="fa fa-remove" matTooltip="Supprimer cette note"
							(click)="supprimerSousLigneProgrammeTravaille(sousLigne)"></em>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<button class="button" (click)="fermer()">Fermer</button>