<!-- Boutons d'action -->
<div class="actions" *ngIf="eleveSelectionne && periodeSelectionnee">
	<em class="fa fa-print fa-2x" matTooltip="Afficher l'édition de PPI" mat-button
		[routerLink]="['/tab-editionppi-route', eleveSelectionne.id, periodeSelectionnee.id]"></em>
	<em class="fa fa-print fa-2x" matTooltip="Afficher l'édition de bilan de compétences" mat-button
		[routerLink]="['/tab-editionbilan-route', eleveSelectionne.id, periodeSelectionnee.id]"></em>
</div>

<!-- Filtres -->
<mat-chip-list class="filtres listeEleves" [selectable]="true">
	<mat-chip *ngFor="let eleve of eleves" (click)="onSelectEleve(eleve)"
		[class.filtreSelectionne]="eleve === eleveSelectionne">{{eleve.nom}} {{eleve.prenom}}</mat-chip>
</mat-chip-list>
<mat-chip-list class="filtres listePeriodes" [selectable]="true">
	<mat-chip *ngFor="let periode of periodes" (click)="onSelectPeriode(periode)"
		[class.filtreSelectionne]="periode === periodeSelectionnee">{{periode.nom}}</mat-chip>
</mat-chip-list>

<!-- Formulaire de modification -->
<div *ngIf="eleveSelectionne && periodeSelectionnee" class="">
	<table class="tableauDeBord">
		<thead>
			<tr>
				<th>Elément du programme évalué</th>
				<th>Positionnement et objectif d'apprentissage</th>
				<th>Acquisition, progrès et difficultés</th>
				<th>Nom du domaine</th>
				<th>Constat sur la période</th>
				<th>Outil sur la période</th>
				<th>Proposition pour la période suivante</th>
				<th>Elément du programme à travailler</th>
				<th>
					<em class="fa fa-calendar-plus-o" matTooltip="Ajouter une ligne" (click)="creeNouvelleLigne()"></em>
					<em class="fa fa-puzzle-piece" matTooltip="Ajouter les notes d'un projet dans la période précédente"
						(click)="creeNouvellesLignesDepuisUnProjet()"></em>
				</th>
			</tr>
		</thead>
		<tbody *ngFor="let ligne of lignes">
			<tr *ngFor="let sousLigne of ligne.sousLignes; let i = index">
				<td class="periodeEvaluee libelleCompetence">
					<span *ngIf="sousLigne.constatation">
						<compo-competence [idCompetenceRacine]="ligne.idDomaine" [note]="sousLigne.constatation"
							[lectureSeule]="true"></compo-competence>
					</span>
				</td>
				<td class="periodeEvaluee">
					<span *ngIf="sousLigne.constatation">
						<compo-note [note]="sousLigne.constatation" [lectureSeule]="true"></compo-note>
					</span>
				</td>
				<td class="periodeEvaluee libelleSaisi">
					<span *ngIf="sousLigne.constatation">{{sousLigne.constatation.commentaire}}</span>
				</td>
				<td class="domaine libelleCompetence" (click)="onSelectLigne(ligne)" *ngIf="i === 0"
					[rowSpan]="ligne.sousLignes.length">{{ligne.nomDomaine}}</td>
				<td class="periodeEvaluee libelleSaisi" *ngIf="i === 0" [rowSpan]="ligne.sousLignes.length">
					{{ligne.constat}} </td>
				<td class="periodeEvaluee libelleSaisi" *ngIf="i === 0" [rowSpan]="ligne.sousLignes.length">
					{{ligne.outil}} </td>
				<td class="periodePreparee libelleSaisi" *ngIf="i === 0" [rowSpan]="ligne.sousLignes.length">
					{{ligne.proposition}} </td>
				<td class="periodePreparee libelleCompetence">
					<span *ngIf="sousLigne.proposition">
						<compo-competence [idCompetenceRacine]="ligne.idDomaine" [note]="sousLigne.proposition"
							[lectureSeule]="true"></compo-competence>
					</span>
				</td>
				<td *ngIf="i === 0" [rowSpan]="ligne.sousLignes.length">
					<em class="fa fa-edit" matTooltip="Modifier cette ligne" (click)="onSelectLigne(ligne)"></em>
				</td>
			</tr>
		</tbody>
	</table>
</div>