div.actions { text-align: right; }

.mat-grid-tile { overflow: auto!important; }
mat-card-title em { float: right; }
span.action { float: right; }
.inputDatePicker { display: none; }

mat-datepicker-toggle.mat-datepicker-toggle { margin: -10px!important; }

mat-card {background-color: lightgoldenrodyellow; }
mat-card.flash {background-color: yellow!important; }
mat-card.terminee { background: repeating-linear-gradient(45deg, transparent, transparent 10px, #fbf8f8 10px, #AAA 20px); }
input.nomEcheance { width: 185px; }