<div class="actions">
    <em class="fa fa-plus ajouterTache" matTooltip="Ajouter une nouvelle tâche" (click)="creerTache()"></em>
</div>

<mat-grid-list cols="4" rowHeight="4:4" gutterSize="20">

    <mat-grid-tile *ngIf="nouvelleTache" class="editionTache" rowspan="2">
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    <mat-form-field style="width:80%" appearance="fill">
                        <mat-label>Titre</mat-label>
                        <input matInput name="titre" [(ngModel)]="nouvelleTache.titre"
                            [ngModelOptions]="{standalone:true}">
                    </mat-form-field>
                    <span class="fa-stack action" matTooltip="Ajouter une échéance" (click)="ajouterEcheance()">
                        <em class="fa fa-circle-o fa-stack-2x"></em>
                        <em class="fa fa-plus fa-stack-1x"></em>
                    </span>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div *ngFor="let eche of nouvelleTache.echeances; let i = index">
                    <mat-form-field style="width:60%" appearance="fill">
                        <mat-label>A faire</mat-label>
                        <input matInput [(ngModel)]="eche.nom" name="aFaire-{{i}}" class="nomEcheance"
                            [ngModelOptions]="{standalone:true}">
                    </mat-form-field>

                    <input class="inputDatePicker" [matDatepicker]="myDatepicker" [(ngModel)]="eche.date"
                        name="date-{{i}}" placeholder="Date" />
                    <span>{{eche.date | date:'dd/MM'}}</span>
                    <mat-datepicker-toggle [for]="myDatepicker">
                    </mat-datepicker-toggle>
                    <mat-datepicker #myDatepicker>
                    </mat-datepicker>
                    &nbsp;
                    <em class="fa fa-remove" matTooltip="Supprimer cette échéance"
                        (click)="supprimerEcheance(nouvelleTache, eche)"></em>

                    <br />
                </div>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button *ngIf="!taches || taches.indexOf(nouvelleTache)===-1"
                    (click)="ajouterLaNouvelleTache()">Ajouter</button>
                <button mat-button *ngIf="!taches || taches.indexOf(nouvelleTache)===-1"
                    (click)="annulerCreerTache()">Annuler</button>
                <button mat-button *ngIf="taches && taches.indexOf(nouvelleTache)!==-1"
                    (click)="annulerCreerTache()">Fermer</button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>

    <mat-grid-tile *ngFor="let tache of taches">
        <mat-card class="{{tache.terminee?'terminee':'encours'}}">
            <mat-card-header>
                <mat-card-title>
                    {{tache.titre}}
                    <em class="fa fa-edit" matTooltip="Modifier" (click)="editer(tache)"></em>
                    <em class="fa fa-copy" matTooltip="Dupliquer" (click)="dupliquer(tache)"></em>
                    <em class="fa fa-remove" matTooltip="Supprimer" (click)="supprimerTache(tache)"></em>
                </mat-card-title>
                <mat-card-subtitle>
                    <span>{{tache.avancement}} |</span>
                    <em class="fa fa-clock-o"></em>
                    <span>{{tache.prochaineEcheance | date:'dd/MM'}}</span>
                </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <div *ngFor="let eche of tache.echeances">
                    <em class="fa fa-check-square-o" *ngIf="!!eche.termine"
                        (click)="changeEcheance(eche, false, $event)"></em>
                    <em class="fa fa-square-o" *ngIf="!eche.termine" (click)="changeEcheance(eche, true, $event)"></em>
                    <span>{{eche.nom}} pour le {{eche.date | date:'dd/MM'}}</span>
                    <br />
                </div>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>