<h2 mat-dialog-title>Duplication depuis le journal</h2>

<div *ngIf="!!journal">
    Duplication
    <span *ngIf="!!temps">du temps '{{temps.nom}}'</span> du journal du {{journal.date | date:'EEEE dd/MM/yyyy'}}
    <br/>
    <span>vers le journal du :</span>
    <input [matDatepicker]="leDatepicker" [(ngModel)]="dateCible" name="dateCible">
    <mat-datepicker-toggle [for]="leDatepicker" class="leDatepickerAOuvrirAutomatiquement"></mat-datepicker-toggle>
    <mat-datepicker #leDatepicker></mat-datepicker>
</div>


<button class="button" (click)="annuler()">Annuler</button>
<button class="button" (click)="dupliquer()">Dupliquer</button>