span.clickable { cursor: pointer; }
.petitChamp { width: 100px; }

td:nth-child(3) { max-width: 300px; }
td:nth-child(5) { text-align: center; line-height: 25px; }

.mat-chip:not(.mat-basic-chip) { padding: 4px 6px 4px 6px; text-align: center; }

.tdSelectionEleve { padding-right:8px; }

td.paddinggd10 { padding: 5px 10px; }