<h2 mat-dialog-title>Attention !!!</h2>

<mat-dialog-content>
    <p>Attention, cette action peut poser problème car il existe une (des) note(s) :</p>
    <ul>
        @for (probleme of problemes ; track probleme) {
        <li>{{probleme}}</li>
        }
    </ul>
    <p>Vous pouvez retirer les évaluations (vide ou 'non évaluée') et les commentaires pour retirer ce blocage.</p>
</mat-dialog-content>

<mat-dialog-actions>
    <button type="button" mat-raised-button matTooltip="Valider" aria-label="Valider" (click)="fermer()">Fermer</button>
</mat-dialog-actions>