<!-- Sélection d'un projet -->
@if (!donneesChargees) {
<p>Vous ne devriez pas tenter d'accéder à cette onglet de l'application sans avoir chargé de données au préalable. Vérifiez votre lien ou votre favori pour en retirer tout ce qui suit le caractère #.
</p>
<p>Vous êtes invité à cliquer sur l'onglet <b>Charger mon année</b></p>
}
@else {
<fieldset class="maclasse-formulaire" (keyup)="onKeyUp($event)">
    <legend class="maclasse-legendFlex">
        <span>Liste des tâches de la classe.</span>
        <button type="button" mat-icon-button class="maclasse-bouton16" (click)="ajouterTache()" matTooltip="Ajouter une tâche" aria-label="Ajouter une tâche">
            <fa-icon icon="plus" size="xs"></fa-icon>
        </button>
    </legend>
    <div class="maclasse-taches">
        @for (tache of taches; track tache.id) {
        <fieldset [class]="'maclasse-tache maclasse-tache' + tache.id">
            <legend>
                @if (idTacheEnEdition !== tache.id) {
                <span>{{tache.titre}}</span>
                <button type="button" mat-icon-button class="maclasse-bouton16" (click)="passerEnEdition(tache.id)" matTooltip="Editer la tâche" aria-label="Editer la tâche">
                    <fa-icon icon="pencil" size="xs"></fa-icon>
                </button>
                } @else {
                <mat-form-field>
                    <mat-label>Titre</mat-label>
                    <input matInput type="text" required #inputNom="ngModel" name="titre" [(ngModel)]="tache.titre">
                </mat-form-field>
                <button type="button" mat-icon-button class="maclasse-bouton16" (click)="ajouterEcheance(tache)" matTooltip="Ajouter une échéance" aria-label="Ajouter une échéance">
                    <fa-icon icon="plus" size="xs"></fa-icon>
                </button>
                <button type="button" mat-icon-button class="maclasse-bouton16" (click)="supprimerTache(tache)" matTooltip="Supprimer la tache" aria-label="Supprimer la tache">
                    <fa-icon icon="trash" size="xs"></fa-icon>
                </button>
                <button type="button" mat-icon-button class="maclasse-bouton16" (click)="passerEnLecture()" matTooltip="Valider la tâche" aria-label="Valider la tâche">
                    <fa-icon icon="check" size="xs"></fa-icon>
                </button>
                }
            </legend>
            <div class="maclasse-echeances">
                @for (echeance of tache.echeances; track echeance.id) {
                <div>
                    <mat-checkbox [disabled]="idTacheEnEdition !== tache.id" [checked]="echeance.termine" (change)="echeance.termine = $event.checked" matTooltip="Tâche réalisée"
                        aria-label="Tâche réalisée">
                        @if (idTacheEnEdition !== tache.id) {
                        <span>{{echeance.date | date:'dd/MM/yyyy'}} </span>
                        <span>{{echeance.nom}}</span>
                        }
                    </mat-checkbox>
                    @if (idTacheEnEdition === tache.id) {
                    <mat-form-field>
                        <mat-label>Date de l'échéance</mat-label>
                        <input matInput disabled [matDatepicker]="picker" #inputDateNaissance="ngModel" [(ngModel)]="echeance.date">
                        <mat-datepicker-toggle matIconSuffix [disabled]="echeance.termine" [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker [disabled]="echeance.termine" startView="year" #picker></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Nom</mat-label>
                        <input matInput type="text" required #inputNom="ngModel" name="nom" [(ngModel)]="echeance.nom" [disabled]="echeance.termine">
                    </mat-form-field>
                    <button type="button" mat-icon-button class="maclasse-bouton16" (click)="supprimerEcheance(tache,echeance)" [disabled]="echeance.termine"
                        matTooltip="Supprimer l'échéance de cette tache" aria-label="Supprimer l'échéance de cette tache">
                        <fa-icon icon="trash" size="xs"></fa-icon>
                    </button>
                    }
                </div>
                }
            </div>
        </fieldset>
        }
    </div>
</fieldset>
}