/** Liste des tâches. */
.maclasse-taches {
    display: flex;
    flex-wrap: wrap;
}

/** Uniquement en mode écran. */
@media screen {

    /** Tache à largeur fixe. */
    .maclasse-tache {
        width: 536px;
    }
}

/** A l'impression. */
@media print {}

/** Liste verticale. */
.maclasse-echeances {
    display: flex;
    flex-direction: column;
}